html,
body {
  padding: 0;
  margin: 0;
  
}
body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
#preview-box{
  float: right;
  
}
.dir-item:hover{
  cursor:default;
  background-color:cornflowerblue ;
  color: #f8f6ff;
}

#dir-input{
  width: 50%;
}

* {
  box-sizing: border-box;
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
    minmax(200px, 2fr)
    minmax(150px, 1.67fr)
    minmax(80px, .1fr)
    minmax(80px, .5fr)
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
  z-index: 1;

}

th:last-child {
  border: 0;
}

td {
  color: #808080;
  padding-left: 5px;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}
img{
  top: 50%;
  transform: translateY(12%);
}